@import "../Styles.scss";

.modalWrapper:last-child {
  background-color: transparent !important;
  max-height: 100% !important;
}

.modalContent{
  margin-top: 150px;
}

.modalHeader {
  text-align: center;
  color: $color-blue;
  font-weight: $font-weight-normal;
  :first-child {
    width: 100%;
  }  
}

.modalWrapper {
  > div {
    max-height: 100%;
  }
}
