@import "../Styles.scss";

.playerWrapper{
  display: inline-block;
  cursor: pointer;  
}

.playerWrapper:focus {
  outline: none;
}

.playerInfoWrapper{
  color: $color-white;
  font-size: $font-size-medium;
  margin: 2px;
  display: inline-block;

  .nameText{
    // background-color: $color-dark-green;
    background-color: indigo;
    padding-left: $spacing-small;
    padding-right: $spacing-small;
  }

  .additionalInfo{
    background-color: $color-nearly-dark-green;
    padding-left: $spacing-tiny;
    padding-right: $spacing-tiny;
  }

  .captain{
    // background-color: $color-dark-green;
    font-size: $font-size-small;
    color: yellow;
  }
}

@media only screen and (max-width: 600px) {
  .playerInfoWrapper{
    font-size: 10px;
  }
}