@import "../Styles.scss";

.playerWrapper{
  display: inline-block;
}

.playerInfoWrapper{
  color: $color-white;
  font-size: $font-size-tiny;

  .nameText{
    background-color: $color-dark-green;
    padding-left: $spacing-small;
    padding-right: $spacing-small;
  }

  .additionalInfo{
    background-color: $color-nearly-dark-green;
    padding-left: $spacing-small;
    padding-right: $spacing-small;
  }
}