@import "../common/Styles.scss";

.transfersHeader{
  margin: $spacing-medium;
  padding: $spacing-medium;
  display: flex;
  justify-content: center;
  @include light-box-shadow();
  background-color: $color-white;

  > div {
    flex-grow: 1;
    text-align: center;
  }

  .remainingBudgetText, .remainingTransfersText{
    @include vertical-center-div();
    font-size: $font-size-small;
    color: $color-gray;
  }
  .remainingBudgetValue, .remainingTransfersValue {
    font-size: $font-size-gigantic;
    color: $color-blue;
  }
}

.bodyWrapper{
  margin: $spacing-medium;
  display: flex;
  // flex-wrap: wrap;
  .pitchWrapper{
    @include light-box-shadow();
    margin: $spacing-medium;
    flex-grow: 2;
    // padding: $spacing-medium;
    background-color: $color-white;
    margin-left: 0px;
  }
  .playersWrapper {
    @include light-box-shadow();
    margin: $spacing-medium;
    flex-grow: 1;
    margin-right: 0px;
  }
}

.playersWrapper{
  background-color: $color-white;
  .playersTitle{
    margin-top: $spacing-small;
    padding: $spacing-small;
    color: $color-blue;
    font-size: $font-size-large;
    text-align: center;
  }
  .playerFilters{
    display: flex;
    flex-wrap: wrap;
    > * {
      flex-grow: 1;
      text-align: center;
    }
  }
  .playerTableWrapper{
    margin-top: $spacing-medium;
  }

  .buttonsWrapper{
    margin-top: $spacing-small;
    justify-content: center;
    text-align: center;
    display: flex;

    > div {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    > * {
      margin-left: $spacing-medium;
      margin-right: $spacing-medium;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .bodyWrapper{
    margin: $spacing-medium;
    display: block;
    .pitchWrapper{
      margin: 0px;
    }
    .playersWrapper {
      margin: 0px;
      margin-top: $spacing-medium;;
    }
  }
}