@import "../common/Styles.scss";

.overviewWrapper {
  margin-left: 10%;
  margin-right: 10%;

  .pointsWrapper {
    padding-bottom: $spacing-medium;
    background-color: $color-white;
    text-align: center;
    color: $color-white;
    padding-top: $spacing-medium;
    margin-top: $spacing-medium;
    @include light-box-shadow();

    .totalPointsWrapper {
      justify-content: center;

      .totalPointsText{
        @include vertical-center-div();
        font-size: $font-size-small;
        color: $color-gray;
      }
      .totalPointsValue {
        font-size: $font-size-gigantic;
        color: $color-blue;
      }
    }

    .gameweekPointsWrapper {
      margin-top: $spacing-average;
      padding-top: $spacing-average;
      border-top: 1px solid lightgray;
      justify-content: center;

      .gameWeekText{
        font-size: $font-size-huge;
        color: $color-elegant-dark;
      }

      .gameweekStats {
        margin-top: $spacing-small;
        text-align: center;      
        font-size: $font-size-small;      
        display: flex;
        color: $color-gray;
        > div{
          flex-grow: 1;
        }
        .averagePointsValue, .yourPointsValue, .highestPointsValue {
          font-size: $font-size-gigantic;
          color: $color-blue;
        }
      }
    }
  }
  .userInfoWrapper {
    @include light-box-shadow();
    background-color: $color-white;
    margin-top: $spacing-huge;
    padding-top: $spacing-medium;
    padding-bottom: $spacing-medium;
    justify-content: center;
    color: $color-white;
    text-align: center;
    display: flex;
    font-size: $font-size-small;
    color: $color-gray;
    > div {
      flex-grow: 1;
    }

    .remainingTransfersValue, .remainingBudgetValue {
      font-size: $font-size-gigantic;
      color: $color-blue;
    }
  }
}