@import "../common/Styles.scss";

.titleMessage {
    text-align: center;
    font-weight: bold;
    color: $color-blue;
    padding: $spacing-average;
    cursor: pointer;
    outline: none;
}

.titleMessage:hover {
    background-color: $color-light-blue-hover;
}

.leagueWrapper {
    margin-bottom: $spacing-medium;
}