@import "../Styles.scss";

.expandedWrapper {
  cursor: pointer;
    outline: none;
    display: flex;
    flex-wrap: wrap;
    > div {
      flex-grow: 1;
    }
    .buttonWrapper{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    .youtubeButton {
      @include vertical-center-div();
    }
  }
  .videoTitle {
    padding-top: $spacing-small;
  }

.videoTitle, .email, .dateCreated {
    text-align: center;
    font-weight: bold;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    word-break: break-word;
  }

  .collapsedTitle{
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    outline-width: 0px;
    text-align: center;
    padding: 0px $spacing-medium $spacing-average $spacing-medium;
  }

.closedVideoItemWrapper {
  padding: $spacing-average;
  cursor: pointer;
  outline: none;
    > div {
        font-weight: bold;
        margin-left: auto;
        margin-right: auto;
        outline-width: 0px;
        text-align: center;
    }
}

.closedVideoItemWrapper:hover {
  background-color: $color-light-blue-hover;
}

.commentsWrapper{
  margin: $spacing-small;
}