@import "../../common/Styles.scss";

.expandWrapper{
  margin: $spacing-medium;
  padding: $spacing-small;
  @include light-box-shadow();
  background-color: $color-white;
  display: flex;
  text-align: center;

  .collapsedTitle{
    font-weight: bold;
    margin-left: auto;
    cursor: pointer;
    outline-width: 0px;
  }

  .expandIcon{
    margin-left: auto;
    margin-right: $spacing-average;
    :first-child{
      cursor: pointer;
    }
  }
}