@import "../../common/Styles.scss";

.extraFilters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-weight: bold;

    > div {
        @include vertical-center-div();
        padding: $spacing-small;
    }
}