@import "../../common/Styles.scss";

.selectTeamWrapper{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: $spacing-average;
    
    > * {
        flex-grow: 1;
        justify-content: center;
        text-align: center;
        @include vertical-center-div();
    }
}

.myTeam {
    font-size: $font-size-large;
    color: $color-green;
    font-weight: bold;
}

.detailWrapper {
    text-align: center;
    justify-content: center;
    font-size: $font-size-large;
    margin-left: auto;
    margin-right: auto;
}

.key {
    font-weight: bold;
    color: $color-dark-green;
    margin-right: $spacing-tiny;
    font-size: $font-size-medium;
    @include vertical-center-div();
}

.value {
    font-weight: bold;
    margin-bottom: $spacing-small;
    border-bottom: 2px solid $color-separator;
}

@media only screen and (max-width: 800px) {
    .selectTeamWrapper {
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
        display: block;
    }
}