@import "../../common/Styles.scss";

.selectTeamWrapper{
    display: flex;
    flex-wrap: wrap;
    
    > * {
        flex-grow: 1;
        justify-content: center;
        text-align: center;
        @include vertical-center-div();
    }
}

.myTeam {
    font-size: $font-size-large;
    color: $color-green;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .selectTeamWrapper {
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }
}