@import "../../common/Styles.scss";

.selectTeamWrapper{
    display: flex;
    padding: $spacing-medium;
    margin: $spacing-medium;
    text-align: center;
    @include light-box-shadow();
    background-color: $color-white;
    flex-wrap: wrap;
    
    > * {
        flex-grow: 1;
        justify-content: center;
        text-align: center;
        @include vertical-center-div();
    }
}

@media only screen and (max-width: 600px) {
    .selectTeamWrapper {
        margin-left: 0px;
        margin-right: 0px;
    }
}