@import "../common//Styles.scss";

.dashBoardWrapper{
  padding-top: $spacing-huge;

  .dashboardHeader{
    text-align: center;
    color: $color-dark-green;
    font-size: $font-size-gigantic;
    margin-top: $spacing-huge;
  }

  .stats{
    margin-top: $spacing-medium;
    display: flex;
    justify-content: center;
    color: $color-light-green;
    margin-left: 10%;
    margin-right: 10%;

    >div {
      flex-grow: 1;
      text-align: center;
      font-weight: $font-weight-normal;
    }
    .yourScore, .average, .highest{
      font-size: $font-size-huge;
    }
  }
}