@import "../../common/Styles.scss";

.hidden{
  visibility: hidden;
}

@media only screen and (max-width: 800px) {
  .updateWrapper {
    margin: 0px;
    margin-top: $spacing-medium;
    margin-left: $spacing-average;
    margin-right: $spacing-average;
  }
}