@import "../Styles.scss";

.sideMargins {
    margin-left: $spacing-small;
    margin-right: $spacing-small;
}

.bigSideMargins {
    margin-left: $spacing-medium;
    margin-right: $spacing-medium;
}

.borderRadiusSmall {
    border-radius: $spacing-small;
}

.borderRadiusTiny {
    border-radius: $spacing-tiny;
}

.iconWrapper {
    cursor: pointer;
    position: absolute;
    right: $spacing-tiny;
    outline: none;
}

@media only screen and (max-width: 800px) {
    .noPhoneMargin {
        margin-left: 0px;
        margin-right: 0px;
    }

}