@import "../Styles.scss";

.collapsableWrapper {
    position: relative;
    @include light-box-shadow();
    margin-top: $spacing-average;
}

.sideMargins {
    margin-left: $spacing-small;
    margin-right: $spacing-small;
}

.bigSideMargins {
    margin-left: $spacing-medium;
    margin-right: $spacing-medium;
}

.icon {
    position: absolute;
    right: $spacing-tiny;
    cursor: pointer;
}

.marginBottom {
    margin-bottom: $spacing-medium;
}