@import "../Styles.scss";

.collapsableWrapper {
    position: relative;
    @include light-box-shadow();
    margin-top: $spacing-average;
}

.sideMargins {
    margin-left: $spacing-small;
    margin-right: $spacing-small;
}

.bigSideMargins {
    margin-left: $spacing-medium;
    margin-right: $spacing-medium;
}

.borderRadiusSmall {
    border-radius: $spacing-small;
}

.borderRadiusTiny {
    border-radius: $spacing-tiny;
}

.icon {
    position: absolute;
    right: $spacing-tiny;
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    .noPhoneMargin {
        margin-left: 0px;
        margin-right: 0px;
    }

}