@import "../Styles.scss";

.gridHeader{
  display: flex;
  font-size: $font-size-huge !important;
  margin-top: $spacing-small !important;
  margin-bottom: $spacing-small !important;

  .backButton{
    margin-left: $spacing-small;
    cursor: pointer;
    @include vertical-center-div();
  }

  .gridHeaderText{
    padding: $spacing-small;
    margin-left: $spacing-medium;
    width: 100%;
    color: $color-blue;
  }
}

.gridFooter {
  display: flex;
  width: fit-content;
  margin-left: auto;
}


.active{
  background-color: $color-gray;
  > td {
    font-weight: bold;
  }
}

.tableWrap{
  > div { 
    margin: 0px !important;
  }
}

@media only screen and (max-width: 800px) {
  .gridHeaderText{
    margin-left: 0px !important;
  }
}