@import "../Styles.scss";

.gridHeader{
  display: flex;
  font-size: $font-size-huge !important;
  margin-top: $spacing-small !important;
  margin-bottom: $spacing-small !important;
  // margin-left: $spacing-medium !important;
}
