@import "../../common/Styles.scss";

.sliderWrapper{
  padding: $spacing-medium;
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.leagueTableBuffer {
  padding-top: $spacing-medium;
  cursor: pointer;
  outline: none;
}

.leagueTableBuffer:hover {
  background-color: $color-light-green-hover;
}

@media only screen and (max-width: 800px) {
  .leagueTableWrapper {
      margin-top: 0px;
  }
}