.wrapper{
  width: 100%;

  .toggleLabel {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    // width: 100%;
    justify-content: center;
  }
}

.formGroupToggle{
  text-align: center;
}