.testingWrapper {
  color: white;

  .textInputWrapper{
    width: 20%;
  }

  .allLeagues{
    color: yellowgreen;
  }

  .myLeagues{
    margin-top: 20px;
    color: pink;
    .myLeagueRow{
      margin-bottom: 10px;
      display: flex;
      .textBoxForPoints{
        width: 150px;
        margin-left: 15px;
      }
    }
  }

  .addPointsText{
    text-align: center;
    width: 200px;
  }

  .createPlayerName{
    text-align: center;
    .playerNameTextbox{
      display: flex;
      width: 30%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .allPlayers{
    text-align: center;
    color: coral
  }
}