@import "../../common//Styles.scss";

.triggerWeekHeader, .recalculateLeaguePositions {
  font-size: $font-size-gigantic;
  color: $color-gray;    
  text-align: center;
}
.recalculateLeaguePositions {
  justify-content: center;
  margin-top: $spacing-small;
}
.databaseButtons {
  display: flex;
  justify-content: center
}
.recalculateInfo {
  color: $color-gray;
  font-weight: bold;
  text-align: center;
  font-size: $font-size-small;
}
.triggerWeekForm {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}
.triggerWeekDropdowns {
  display: flex;
  justify-content: center;
}
.spinner {
  text-align: center;
}

.triggerWeekButton {
  margin-top: $spacing-small;
}

.hidden {
  visibility: hidden;
}