@import "../common/Styles.scss";

.featureRequestWrapper{
    padding: $spacing-medium;
    text-align: center;
    background-color: $color-white;

    .header{
        color: $color-blue;
        font-weight: bold;
        margin-bottom: $spacing-small;
    }

    .charactersRemaining{
        font-weight: bold;
        color: $color-gray;
        padding: $spacing-small;
    }
}