@import "../common/Styles.scss";


.allFeatureRequests{
    flex-wrap: wrap;
    margin: $spacing-medium;
    // @include light-box-shadow();
    padding: $spacing-small;
}

.featuresWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    > div {
        max-width: 50%;
        min-width: 50%;
    }
}

.sortByWrapper{
    padding: $spacing-medium;
    text-align: center;
    background-color: $color-white;
    margin: $spacing-medium;
    @include light-box-shadow();
  }