@import "../../common/Styles.scss";

.theCupWrapper {
    padding-bottom: $spacing-medium;
    background-color: $color-white;
    text-align: center;
    margin: $spacing-medium;
    @include light-box-shadow();
  }

  .cupDescription {
    padding: $spacing-medium;
    padding-bottom: 0px;
    background-color: $color-white;
    margin: $spacing-medium;
    @include light-box-shadow();
  }

  .infoWrapper {
    font-weight: bold;
    color: $color-blue;
    padding: $spacing-medium;
    padding-bottom: $spacing-small;
    padding-top: 0px;
  }

  .cupHeader {
    text-align: center;
    font-weight: bold;
    font-size: $font-size-large;
  }

  .trophy {
    margin-right: $spacing-small;
    color: $color-trophy;
  }