@import "../common/Styles.scss";

.fixturesWrapper{
    padding: $spacing-medium;
    margin: $spacing-medium;
    text-align: center;
    @include light-box-shadow();
    background-color: $color-white;
}

@media only screen and (max-width: 600px) {
    .fixturesWrapper {
      padding: 0px;
    }
  }