@import "../common/Styles.scss";

.emailVerifyLinks{
  height: 100%;
  display: flex;
  white-space: nowrap;

  >div{
    @include vertical-center-div();
    font-size: $font-size-large;
    font-weight: $font-weight-normal;
    outline: none;
    cursor: pointer;
  }

  .signOut{
    margin-left: auto;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
}