@import "../common/Styles.scss";
.navBar{
  // background-color: $color-black;

  .displayName{
    color: $color-white;
  }

  .signedInLinks, .signedOutLinks{
    text-align: right;
    margin-right: 10%; 
  }
}