@import "../common/Styles.scss";

.navBar{
  background-color: $color-amber;
  height: $spacing-huge;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;

  .displayName{
    color: $color-white;
  }
}