@import "../common/Styles.scss";

.signedOutLinks{
  height: 100%;
  display: flex;

  >div{
    @include vertical-center-div();
    font-size: $font-size-large;
    font-weight: $font-weight-normal;
    outline: none;
    cursor: pointer;
  }

  .signIn{
    margin-left: auto;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }

  .signOut{
    padding-left: 2.5%;
    padding-right: 2.5%;
  }

  .active{
    color: $color-blue;
    background-color: bisque;
    opacity: 0.5;
  }
}