@import "../common/Styles.scss";

.signedInLinks{
  height: 100%;
  display: flex;
  white-space: nowrap;

  .photoURL{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: $spacing-small;
    height: $spacing-large;
    width: $spacing-large;
  }

  >div{
    @include vertical-center-div();
    font-size: $font-size-large;
    font-weight: $font-weight-normal;
    outline: none;
    cursor: pointer;
  }

  .dashboard{
    margin-left: auto;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }

  .signOut{
    padding-left: 2.5%;
    padding-right: 2.5%;
  }

  .active{
    font-weight: bold;
  }
}