@import "../../common/Styles.scss";

.findPlayerDropdowns{
  justify-content: center;
  display: flex;
  @include light-box-shadow();
  padding: $spacing-medium;
  margin: $spacing-medium;
  background-color: $color-white;
  flex-wrap: wrap;
  > div { 
    justify-content: center;
    text-align: center;
    flex-grow: 1;
  }
}

.oldStatsWrapper {
  justify-content: center;
  display: flex;
  @include light-box-shadow();
  margin: $spacing-medium;
  background-color: $color-white;
  flex-wrap: wrap;

  .buttonWrapper{
    margin-top: $spacing-small;
    margin-bottom: $spacing-small;
  }
}
