@import "../../common/Styles.scss";

  .teamDropdown, .playerDropdown, .weekOptions  { 
    justify-content: center;
    text-align: center;
    flex-grow: 1;
  }

.oldValueCell {
  color: $color-blue;
  font-weight: bold;
}

.buttonWrapper{
  margin-top: $spacing-small;
  margin-bottom: $spacing-small;
  text-align: center;
}

.divWrapper {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .findPlayerDropdowns {
    padding: 0px;
    margin: 0px;
    margin-top: $spacing-medium;
  }

  .oldStatsWrapper {
    margin: 0px;
    margin-top: $spacing-medium;
  }

  .divWrapper {
    width: 80%;
  }
}