@import "../../common/Styles.scss";

.selectProfilePictureWrapper {
    @include light-box-shadow();
    margin: $spacing-medium;
    padding: $spacing-small;
    display: flex;

    .imageWrapper{
        margin: $spacing-medium;

        .profilePicture{
            height: 200px;
            width: 200px;
            cursor: pointer;
        }

        .profilePicture:hover{
            box-shadow: 0 4px 8px 0 $color-hover, 0 6px 20px 0 $color-hover;
        }
    }
}

