@import "../common/Styles.scss";

.profileWrapper{  
  padding-top: $spacing-medium;
  text-align: center;
  width: 30%;
  margin-left: auto;
  margin-right: auto;

  .modalWrapper{
    text-align: center;
    color: $color-danger-red;
    font-weight: $font-weight-normal;
  }
}

.profileHeader{
  font-size: $font-size-huge;
  color: $color-blue;
}

@media only screen and (max-width: 600px) {
  .profileWrapper{
    width: 100%;
  }
}