@import "../../common/Styles.scss";

.leaguesWrapper {
  padding-bottom: $spacing-medium;
  background-color: $color-white;
  text-align: center;
  color: $color-white;
  margin: $spacing-medium;
  @include light-box-shadow();
}

.usersInLeagueWrapper {
  padding-bottom: $spacing-medium;
  background-color: $color-white;
  text-align: center;
  color: $color-white;
  margin: $spacing-medium;
  @include light-box-shadow();
}

.myLeaguesTable{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-bottom: $spacing-average;
}

.leagueButtonsWrapper{
  text-align: center;
}

.spinnerWrapper{
  text-align: center;
  color: $color-pink;
  font-size: $font-size-small;
}

.userWrapper{ 
  display: inline-block;
  .miniText{
    font-size: $font-size-tiny;
    color: $color-blue;
    font-weight: bold;
  }
}

@media only screen and (max-width: 600px) {
  .myLeaguesTable{
    padding: 0px;
    margin-bottom: $spacing-small;
  }

  .usersInLeagueWrapper {
    margin: 0px;
  }
}