@import "../../common/Styles.scss";

.approveHighlightsWrapper{
  color: $color-blue;
  font-size: $font-size-large;
  text-align: center;
  font-weight: bold;
  padding: $spacing-medium;
  margin: $spacing-medium;
  background-color: $color-white;
  @include light-box-shadow();
}

.youTubeVid{
  padding: $spacing-medium;
  margin: $spacing-medium;
  background-color: $color-white;
  @include light-box-shadow();
}

.modalButtons{
  text-align: center;
}

.noHighlights{
  padding: $spacing-medium;
  margin: $spacing-medium;
  background-color: $color-white;
  @include light-box-shadow();
  text-align: center;
  font-weight: bold;
  color: $color-gray;
  font-size: $font-size-large;
}

.loadingHighlights{
  padding: $spacing-medium;
  margin: $spacing-medium;
  text-align: center;
}