@import "../../common/Styles.scss";

.videoListWrapper{
  display: flex;
  flex-wrap: wrap;
}

.videoWrapper{
  margin: $spacing-medium;
  background-color: $color-white;
  @include light-box-shadow();
}

.collapsedVideoWrapper{
  width: 100%;
  position: relative;
}

.collapsedTitle{
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  outline-width: 0px;
  text-align: center;
  padding: 0px $spacing-medium $spacing-average $spacing-medium;
}

.expandIcon{
  text-align: right;
  padding-right: $spacing-small;
  padding-top: $spacing-small;
  right: 0;
  :first-child{
    cursor: pointer;
  }
}

.expandLess{
  text-align: right;
  margin-right: $spacing-small;

  :first-child{
    cursor: pointer;
  }
}

.videoTitle, .email, .dateCreated {
  text-align: center;
  font-weight: bold;
}