@import "../common/Styles.scss";

.desktopWrapper {
  display: flex;
  margin-top: $spacing-medium;
  min-height: 100vh;
}

.desktopPitch {
  @include light-box-shadow();
  margin-left: $spacing-medium;
  margin-right: $spacing-medium;
  width: 70%;
}

.summary {
  @include light-box-shadow();
  padding: $spacing-medium;
  width: 25%;
  height: fit-content;
}

.pitchWrapper{
  right: 0px;
  overflow-x: hidden;
  margin-bottom: $spacing-medium;
  min-height: 100vh;
}

.currentTeamWrapper{
  height: 90vh;
  background-color: $color-white;  
  margin-left: auto;;
  margin-right: auto;;
  width: 70%;

  .pitchBackground{
    padding: $spacing-average;
    justify-content: center;
    
    text-align: center;
    background-image: url("../common//images/CCAFC.png");
    background-size: 100% 100%;
  }
}

@media only screen and (max-width: 600px) {

  .pitchWrapper {
    right: 0;
    position: absolute;
    height: 90%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
  }


  .currentTeamWrapper{
    width: 130%;
    position: absolute;
    left: -15%;
    overflow-x: hidden;
  }
}