@import "../common/Styles.scss";

.desktopWrapper {
  display: flex;
  min-height: 100vh;
  justify-content: center;
}

.pitchWrapper{
  right: 0px;
  overflow-x: hidden;
  margin-bottom: $spacing-medium;
  min-height: 100vh;
}

.currentTeamWrapper{
  height: 90vh;
  background-color: $color-white;  
  margin-left: auto;;
  margin-right: auto;;
  width: 70%;
}

@media only screen and (max-width: 800px) {
  .pitchWrapper {
    right: 0;
    position: absolute;
    height: 90%;
    min-height: 90vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-bottom: 0px;
  }


  .currentTeamWrapper{
    width: 130%;
    position: absolute;
    left: -15%;
    overflow-x: hidden;
  }
}