@import "../common/Styles.scss";

.addHighlight {
  padding: $spacing-medium;
  margin: $spacing-medium;
  background-color: $color-white;
  @include light-box-shadow();

  

  .inputWrapper{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.highlightsHeader{
  padding: $spacing-medium;
  margin: $spacing-medium;
  background-color: $color-white;
  @include light-box-shadow();
  .highlightsMessage{
    text-align: center;
    color: $color-blue;
    font-weight: bold;
  }

  .openSubmitVideo{
    text-align: center;
  }
}