@import "../common/Styles.scss";

.allHighlights, .addHighlight {
  padding: $spacing-medium;
  margin: $spacing-medium;
  background-color: $color-white;
  @include light-box-shadow();

  .highlightMessage{
    text-align: center;
    color: $color-blue;
    font-weight: bold;
  }

  .inputWrapper{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}