@import "../common/Styles.scss";

.statsWrapper{
  margin: $spacing-average;
  .statsHeader{
    color: $color-black;
    padding: $spacing-average;
    display: flex;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color: $color-white;
    
    .dropdownWrapper{
      justify-content: center;
      width: 100%;
      text-align: center;
      display: flex;
    }

    .toggleWrapper {
      padding-left: $spacing-average;
      padding-right: $spacing-average;
    }

    .editFiltersWrapper{
      display: flex;
      @include vertical-center-div();
      cursor: pointer;

      .editFilter{
        margin-left: auto;
      }
    }
    .editFiltersWrapper:focus{
      outline: 0px;
    }
    .editFiltersWrapper:hover{
      // font-weight: bold;
      :nth-child(2) {
        color: $color-dark-blue;
      }
    }
  }
}

.statsMessage {
  color: $color-blue;
  @include vertical-center-div();
}

@media only screen and (max-width: 600px) {
  .statsHeader {
      margin: 0px !important;
  }  

  .editFiltersWrapper {
    margin-top: 0px;
  }
}