@import "../common/Styles.scss";

.statsWrapper{
  .statsHeader{
    margin: $spacing-medium;
    padding: $spacing-small;
    @include light-box-shadow();
    display: flex;

    .dropdownWrapper{
      width: 100%;
      text-align: center;
    }

    .editFiltersWrapper{
      display: flex;
      @include vertical-center-div();
      cursor: pointer;

      .editFilter{
        margin-left: auto;
      }
    }
  }
}