@import "../common/Styles.scss";

.statsWrapper{
    .dropdownWrapper{
      justify-content: center;
      width: 100%;
      text-align: center;
      display: flex;
    }

    .toggleWrapper {
      padding-left: $spacing-average;
      padding-right: $spacing-average;
    }

    .editFiltersWrapper{
      display: flex;
      @include vertical-center-div();
      cursor: pointer;
      margin-top: $spacing-average;
      :nth-child(2) {
        margin-left: $spacing-tiny;
      }

    }
    .editFiltersWrapper:focus{
      outline: 0px;
    }
    .editFiltersWrapper:hover{
      // font-weight: bold;
      :nth-child(2) {
        color: $color-dark-blue;
      }
    }
}

.statsMessage {
  color: $color-blue;
  @include vertical-center-div();
}

@media only screen and (max-width: 800px) {
  .statsHeader {
      margin: 0px !important;
      flex-wrap: wrap; 
      padding-top: 0px !important;
      justify-content: center;
  }  

  .toggleWrapper {
    padding-top: $spacing-tiny;
    padding-bottom: $spacing-tiny;
    display: flex;
    justify-content: center;
  }

  .combineWeeksText {
    @include vertical-center-div();
  }

  .dropdownWrapper {
    display: block !important;
  }

  .editFiltersWrapper {
    margin-top: 0px;
    padding-top: $spacing-tiny;
  }
}