@import "../common/Styles.scss";

.privacyPolicyWrapper {
    padding: $spacing-medium;
    padding-top: $spacing-tiny;
}

.linkOne {
    margin-left: $spacing-tiny;
    margin-right: $spacing-tiny;
}