@import "./common//Styles.scss";

.app{
  height: 100%;
  background-color: $color-light-gray;
  
  .appContainer{
    width: 100%;
    padding: 0px;
    margin: 0px;
    max-width: 100%;
    height: 100%;
  }
}