@import "../common/Styles.scss";

.gameWeekText{
  font-size: $font-size-large;
  color: $color-gray;
  display: flex;
  justify-content: center;
  .arrowBackWrapper{
    margin-right: $spacing-medium;
    cursor: pointer;
    @include vertical-center-div();
  }
  .arrowForwardWrapper{
    margin-left: $spacing-medium;
    cursor: pointer;
    @include vertical-center-div();
  }
}

.noStats{
  text-align: center;
  font-weight: bold;
}

.gameWeekTextWrapper {
  @include vertical-center-div();
  text-align: center;
}

.desktopWrapper {
  display: flex;
  min-height: 100vh;
  justify-content: center;
}

.pitchWrapper{
  right: 0px;
  width: 100%;
  overflow-x: hidden;
  margin-bottom: $spacing-medium;
  min-height: 100vh;
}

.currentTeamWrapper{
  height: 90vh;
  background-color: $color-white;  
  margin-left: auto;;
  margin-right: auto;;
  width: 70%;
}

@media only screen and (max-width: 800px) {

  .gameWeekText {
    padding: $spacing-small;
  }

  .pitchWrapper {
    margin-bottom: 0px;
    right: 0;
    position: absolute;
    height: 90%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .currentTeamWrapper{
    width: 130%;
    position: absolute;
    left: -15%;
    overflow-x: hidden;
  }
}
