@import "../common/Styles.scss";

.gameWeekText{
  font-size: $font-size-large;
  color: $color-gray;
  display: flex;
  justify-content: center;
  .arrowBackWrapper{
    margin-right: $spacing-medium;
    cursor: pointer;
  }
  .arrowForwardWrapper{
    margin-left: $spacing-medium;
    cursor: pointer;
  }
}

.noStats{
  text-align: center;
  font-weight: bold;
}

.gameWeekTextWrapper {
  @include vertical-center-div();
  text-align: center;
}

.desktopWrapper {
  display: flex;
  margin-top: $spacing-medium;
  min-height: 100vh;
}

.desktopPitch {
  @include light-box-shadow();
  margin-left: $spacing-medium;
  margin-right: $spacing-medium;
  width: 70%;
}

.summary {
  @include light-box-shadow();
  padding: $spacing-medium;
  width: 25%;
  height: fit-content;
}

.pitchWrapper{
  right: 0px;
  width: 100%;
  overflow-x: hidden;
  margin-bottom: $spacing-medium;
  min-height: 100vh;
}

.currentTeamWrapper{
  height: 90vh;
  background-color: $color-white;  
  margin-left: auto;;
  margin-right: auto;;
  width: 70%;
}

@media only screen and (max-width: 600px) {
  .currentTeamWrapper{
    width: 130%;
    position: absolute;
    left: -15%;
    overflow-x: hidden;
  }
}
