@import "../Styles.scss";

.featureRequestWrapper {
    background-color: $color-white;
    .authorDescriptionWrapper {
        outline: none;
        cursor: pointer;
    }
    .author, .featureDescription {
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: $font-size-large;
        margin-left: auto;
        margin-right: auto;
        

        .key {
            font-weight: bold;
            color: $color-dark-gray;
            margin-right: $spacing-tiny;
            font-size: $font-size-medium;
            @include vertical-center-div();
        }

        .value {
            font-weight: bold;
            color: $color-green;
            @include vertical-center-div();
        }
    }

    .description{
        text-align: center;
        margin-left: $spacing-small;
        margin-bottom: $spacing-small;
        font-weight: bold;
        color: $color-green;
    }

    .comments {
        margin-top: $spacing-tiny;
        font-size: $font-size-large;
    }

    .commentsWrapper{
        height: 300px;
        overflow-y: scroll;
        padding: $spacing-average;
        overflow-x: hidden;
    }
}

.shiftRight{
    margin-left: $spacing-medium;
}
