@import "../../common/Styles.scss";

.chartWrapper{
  margin: $spacing-medium;
  @include light-box-shadow();
  background-color: $color-white;

  .selectTeamsMessage{
    @include vertical-center-div();
    font-size: $font-size-medium;
    padding: $spacing-medium;
  }

  .graphSpinner{
    @include vertical-center-div();
  }
}

.graphChoiceWrapper{
  display: flex;
  padding-top: $spacing-small;
  text-align: center;

  .radioWrapper{
    width: 100%;
  }

  .collapse{
    margin-left: auto;
    margin-right: $spacing-average;
    :first-child{
      cursor: pointer;
    }
  }
}
