@import "../common//Styles.scss";

.passwordReset {
  .passwordResetHeader{
    text-align: center;
    font-size: $font-size-huge;
    color: $color-amber;
  }
  margin-top: $spacing-huge;
  color: $color-amber;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

  :last-child{
    margin:0 auto;
    display:block;
  }
}