@import "../common//Styles.scss";

.signUpWrapper{
  position: relative;
  color: $color-amber;
  .signUpForm{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    .signUpMessage{
      margin-top: 10%;
      text-align: center;
      color: $color-amber;
      font-weight: $font-weight-normal;
      font-size: $font-size-large;
    }
    .submitButtons{
      text-align: center;
    }
  }
}