@import "../common//Styles.scss";

.signInWrapper{
  color: $color-amber;
  padding-top: $spacing-huge;
  .signUpForm{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    .signInMessage{
      margin-top: 10%;
      text-align: center;
      color: $color-amber;
      font-size: $font-size-huge;
      font-weight: $font-weight-normal;
    }
    .submitButtons{
      text-align: center;
    }
  }
  .modalWrapper{
    text-align: center;
    color: $color-danger-red;
    font-weight: $font-weight-normal;
  }
}