@import "../common//Styles.scss";

.signInWrapper{
  color: $color-amber;
  .signUpForm{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    .signInMessage{
      margin-top: 10%;
      text-align: center;
      color: $color-white;
      font-size: $font-size-large;
    }
    .submitButtons{
      text-align: center;
    }
  }
}