@import "../common//Styles.scss";

.verifyEmailMessage {
    color: $color-light-blue;
    font-size: $font-size-huge;
    font-weight: $font-weight-normal;
    text-align: center;
    word-break: break-word;

  .resendEmailButtonWrapper{
    margin-top: $spacing-medium;
  }

  .spinnerWrapper{
    min-height: $spacing-massive;
    max-height: $spacing-massive;
  }
}