@import "../../common//Styles.scss";

.notificationHeader {
    text-align: center;
    font-size: $font-size-large;
    font-weight: bold;
    color: $color-blue;
}

.textInputWrapper {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.spinner {
    text-align: center;
}

.confirmNotification {
    text-align: center;
}

.hidden {
    visibility: hidden;
}